

<div class='auth2 signup w-50 p-3 m-auto auth-center'>
  <div class="blur">
    <h2 class="text text-center border-bottom border-white border-5"><%= t('sessions.Signup') %></h2>

    <div class="row">
      <div class="col-sm-6">   
        <%= render 'users/registrations/form' %>
      </div>
      <div class="col-sm-6">
        <i class="fas fa-user-plus fa-10x"></i>
      </div>
    </div>
    <div class="col-sm-6"></div>
  </div>
</div>