
<div class='auth2 signup w-50 p-3 m-auto'>
    <h2 class="text text-center border-bottom border-white border-5"><%= t('sessions.Signup') %></h2>

    <div class="row">
      <div class="col-sm-6">   
        <%= render 'users/registrations/form' %>
      </div>
    </div>
  <div class="col-sm-6"></div>
</div>